html,
body {
  height: 100%;
  overflow: hidden;
}

#mainwrapper {
    transition: 0.5s;
}

#sbtn img,
#mbtn img {
    height: 32px;
    width: 32px;
    -webkit-filter: invert(60%);
    filter: invert(60%);
}

.hbtn {
    cursor: pointer;
    border: none;
    background-color: #111;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111;
    display: inline-grid;
    grid-auto-columns: 32px 1fr 32px;
    justify-items: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.background {
  background-image: url("media/background.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.background h1 {
  font-size: 300%;
  color: #DDD;
  transition: 0.3s;
  margin: 0px;
  cursor: default;
}

.background h4 {
  font-size: 150%;
  color: #DDD;
  transition: 0.3s;
  margin: 0px;
  cursor: default;
}

.background h1:hover,
.background h4:hover {
  color: #FFF;
}


.header h2 {
    color: #999;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-column: 2 / 3;
}

.header #mbtn {
    grid-column: 1 / 2;
}

.header #sbtn {
    grid-column: 3 / 4;
}

.menu a,
.menu h2 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #999;
    display: block;
    transition: 0.3s;
}

.menu a:hover, .offcanvas a:focus{
    color: #EEE;
}

@media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu a {font-size: 18px;}
}
