{% extends "base.html" %}
{% block title %}Rules{% endblock %}
{% block title2 %}Rules{% endblock %}
{% block content %}
<dic class="rulescontainer">
  <div class="rules">
  	<h3>Karistused</h3>
    <p>1 - Mute &#60;48h</p>
    <p>2 - Mute &#62;48h</p>
    <p>3 - Ban &#60;7d</p>
    <p>4 - Ban &#62;7d</p>
    <p>5 - Lõplik Ban</p>
    <p>Iga uue rikkumise korral suureneb karistuse tase ühe võrra!</p>

    <h3>Vestlusaken</h3>
    <p>Kaasmängijate solvamine on keelatud. (1)</p>
    <p>Meeskonnaliikme provotseerimine, õhutamine on keelatud. (2)</p>
    <p>Liigne suurtäheluku kasutamine on keelatud - terves sõnumis tohib olla ainult alla poolte sõnade suurelt. (1)</p>
    <p>Oma sõnumi korrutamine mitu korda e. spämmimine on keelatud - spämmimiseks loetakse juba 2 sama lause kirjutamist järjestikku väikeste vahedega, samuti kehtib see reegel ka siis, kui sõnumid pole täpselt samad, kuid on sama sisuga. (1)</p>
    <p>Liigne sõna/lause pikendamine on keelatud, samuti on ka suvalise tähemärkide joru kirjutamine keelatud, nagu näiteks "nooooooo" või "dflsafjl". (1)</p>
    <p>Teata käskluse väärkasutamine, /teata käsklus on ikkagist mõeldud abi palumiseks, selle kaudu meeskonnaliikme solvamine, õhutamine, provotseerimine, valetamine on keelatud. (2)</p>
    <p>Ebasobiva sõnavara kasutamine on keelatud, selle alla kuulub siis igasugune diskrimineerimine, rassism, ropendamine ning seksism. Ropendamiseks lühendite kasutamine sind karistusest ei päästa, kui on aru saada, et mängija üritab ropendada, on õigus meeskonnaliikmel teda karistada, ükskõik kuidas tema selle roppuse välja kirjutas, kas numbrite või muude abivahendite abil. (1)</p>
    <p>Igasuguste seisuste, esemete vms lunimine on keelatud. (1)</p>
    <p>Perepoliitika on keelatud. Lubatud on see vaid juhtudel, kui räägitakse privaatses chatis või kasutatakse teisi meetmeid teiste mängijate mitte härimiseks. (1)</p>
    <p>Teiste serverite reklaamimine on keelatud, samuti on keelatud oma sotsiaalvõrgustike, nagu enda YouTube/Twitch vms kanali reklaamimine. Kui tahate oma YouTube vms kanalit reklaamida, kirjutage e-mailile mikroskeem@mikroskeem.eu ning selgitage oma kirjas täpsemalt, millega te tegelete ning mis moel sooviksite oma kanalit reklaamida. (2)</p>

    <h3>Kasutaja</h3>
    <p>Teise kasutaja Preemium (minecraft.net'is registreeritud) kontosse sisse logimine on keelatud. (4).</p>
    <p>Kaasmängia kasutajasse sisse logimine on keelatud Soovitame teil kasutada mängides parooli, mida mujal te ei kasuta. Juhtkond kinnitab teile, et teie paroolid on turvaliselt hashitud ning sellele me ligi ei pääse.</p>
    <p>Mängija hüüdnimi peab sisaldama tema tervet kasutajanime. (3)</p>
    <p>Kasutajanimi ei tohi sisaldada roppusi. (3)</p>

    <h3>Kaasmängijate kahjustamine</h3>
    <p>Omavoliline teiste ehitiste muutmine/lõhkumine jne on keelatud (k.a teise mängija ala ümbruses oleva maastiku rikkumine). (3)</p>
    <p>Teiste loomade tapmine, liigutamine on keelatud. (3)</p>
    <p>Teiste alal või nende ala ümbruses ilma loata viibimine on keelatud. (3)</p>
    <p>Valesüüdistuste esitamine ilma vastava tõestuseta on keelatud. (3)</p>

    <h3>Serveri kahjustamine</h3>
    <p>Igasugused serverit koormavate redstone masinate jms tegemine on keelatud. (3)</p>
    <p>Suurte looma- ning xp farmide tegemine on keelatud. Ühes farmis võib olla kuni 150 samat tüüpi looma. (3)</p>
    <p>Avalike XP farmide ning suurte isiklike xp farmide tegemine on keelatud. Ühes XP Farmis võib olla kuni 4 spawnerit. (3)</p>
    <p>Serveri maine kahjustamine ükskõik mis moel, on keelatud. (4)</p>

    <h3>Hackimine</h3>
    <p>Igasuguste Häkitud mänguklientide kasutamine on keelatud. (4)</p>
    <p>Hackeritega tiimimine, sõbrutsemine, asjade vastu võtmine vms on keelatud. (4)</p>
    <p>Hiire eripärade, nagu topeltklikk vms kasutamine on keelatud. (4)</p>
    <p>Meil on õigus eemaldada ala kaitsed, McMMO skillid, raha ja tühjendada inventory. (sh. Enderchest ja /backpack)</p>
  </div> <!--rules-->
</div> <!--rulescontainer-->
{% endblock %}
